body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    margin-top: 2%;
    background-color: #f0f0f0;
}

aside {
    background-color: #a9e639;
    padding: 0% 2% 2%;
    margin-top: 5%;
    max-width: 15%;
    max-height: 80%;
    border-style: solid;
    border-width: thin;
    border-color: black;
    overflow: auto;
}

.highlight {
    background-color: yellow; /* Highlight color */
}

dialog.popup {
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    padding: 5px 10px;
    font-size: 16px;
}

.popup .popuptext {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    width: 250px;
    left: 50%;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
  
.filelist {
  padding: 2%;
}

.filelist input{
  color: aqua;
  background-color: #555;
}

.filelist img{
  width: 24px;
  margin-right: 10px;
  cursor: pointer;
}

ul {
  list-style-type: none; /* Remove default bullet points */
  padding: 0;
}

li {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 5%;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.toolbar {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.toolbar button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 16px;
}

#editor {
    min-height: 400px;
    padding: 10px;
    outline: none;
    overflow: auto;
}
