body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    margin-top: 2%;
    background-color: #f0f0f0;
}

aside {
    background-color: #a9e639;
    padding: 0% 2% 2%;
    margin-top: 5%;
    max-width: 15%;
    max-height: 80%;
    border-style: solid;
    border-width: thin;
    border-color: black;
    overflow: auto;
}

.highlight {
    background-color: yellow; /* Highlight color */
}

.editor-container {
    width: 80%;
    max-width: 800px;
    margin: 5%;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.toolbar {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.toolbar button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 16px;
}

#editor {
    min-height: 400px;
    padding: 10px;
    outline: none;
    overflow: auto;
}
